.hero-header{
    padding:60px;
}

.titulo-destaque {
    position: relative;
    margin: 0;
    padding: 8px 8px 8px 0px;
    z-index: 1;
}


.titulo-destaque::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 35%;
    width: 80%;
    height: 110%;
    background-color: var(--amarelo-destaque);
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-3deg); /* Rotação para criar o efeito torto */
}
.text-home-container{
    display:flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    background-color: var(--branco-fundo);
    border-radius: 20px;
}
.texto-botao{
    display:flex;
    flex-direction: column;
    /* background-color: gray; */
    /* justify-content: ; */
    gap:10px;
    align-items: center;
}
h1{
    font-size: 45.6px;
    font-weight: 900;
    line-height: 57px;
}
.imagem-hero{
    width: 555px;
    height:422px;
    padding-top:10px;
}
.nota-hero{
    padding-top: 10px;
    font-weight: 400;
    font-size: 15.2px;
}