*{
    margin:0;
    padding:0;
    border:0;
}
.container-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.imagem-logo{
    width:120px;
    height: 34px;
}
li{
    display:flex;
    flex-direction: row;
    list-style: none;
}

.lista-home{
    display:flex;
    flex-direction: row;
    width: 40rem;
    justify-content: space-around;
    align-items:center;

}
.nav-home a {
    text-decoration: none;
    color:inherit;
}
.nav-home a.active {
    font-weight: bold;
}